@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf');
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left {
    width: 30vw;
    height: 100vh;
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title-and-logo {
    background-color: rgb(0,0,0,0.5);
    width: 30vw;
    height: 150px;
    position: absolute;
    top: 20vh;
    color: white;
    font-size: 5rem;
    font-family: 'Norse-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 130px;
}

.right {
    background-color: lightgrey;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.top-description {
    height: calc( calc( 100vh - 300px ) / 2 );
    font-weight: bolder;
    display: flex;
    justify-content: center;
    line-height: 1.25;
}

.form-container {
    background-color: white;
    width: 70vw;
    height: 300px;
    font-size: 1.25rem;
    font-weight: bolder;
}

.right-footer {
    height: calc( calc( 100vh - 300px ) / 2 );
    padding-left: 50px;
}

.description-text {
    padding-top: 125px;
    font-size: 1.25rem;
    padding-left: 50px;
}

.form-right-col, .form-left-col {
    width: 35vw;
    height: 300px;
}

.my-form {
    width: 70vw;
    height: 300px;
    display: flex;
}

.form-left-col {
    padding-left: 50px;
    padding-top: 20px;
}

.form-right-col {
    padding-top: 66px;
    padding-right: 350px;
}

label {
    font-size: 0.75rem;
    color: rgb(37, 37, 37);
}

#last_name:focus {
    outline-color: blue; 
}

#create-account-btn {
    color: white;
    background-color:  #596D48;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}